body {
  margin: unset;

  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #0d1117;
  background-color: #fff;
}

// dark mode overrides
@if $allow-dark-mode {
  @media (prefers-color-scheme: dark) {
    body {
      color: #fff;
      background: #0d1117;
    }
  }
}

// tablet
@media screen and (max-width: $breakpoint-tablet) {
}

// mobile
@media screen and (max-width: $breakpoint-mobile) {
}
